USE [candidate_details_db]
GO
/****** Object:  Table [dbo].[Calendar]    Script Date: 1/23/2025 12:20:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar](
	[CalId] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](512) NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK__Calendar__08235E3EF073DB61] PRIMARY KEY CLUSTERED 
(
	[CalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[candidateDetails]    Script Date: 1/23/2025 12:20:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidateDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NULL,
	[Name] [nvarchar](512) NULL,
	[Contact_No] [nvarchar](13) NULL,
	[Linkedin_Profile] [nvarchar](max) NULL,
	[Email_ID] [nvarchar](512) NULL,
	[Roles] [int] NULL,
	[Experience] [nvarchar](512) NULL,
	[Skills] [nvarchar](max) NULL,
	[CTC] [decimal](18, 0) NULL,
	[ETC] [decimal](18, 0) NULL,
	[Notice_Period] [nvarchar](50) NULL,
	[Current_Location] [nvarchar](512) NULL,
	[Prefer_Location] [nvarchar](512) NULL,
	[Reason_For_Job_Change] [nvarchar](512) NULL,
	[Schedule_Interview] [datetime2](7) NULL,
	[Schedule_Interview_status] [nvarchar](512) NULL,
	[Comments] [nvarchar](512) NULL,
	[cvPath] [nvarchar](max) NULL,
	[isDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employeeBirthdays]    Script Date: 1/23/2025 12:20:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employeeBirthdays](
	[ebId] [int] IDENTITY(1,1) NOT NULL,
	[calId] [int] NULL,
	[empId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ebId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employeeLeaveVM]    Script Date: 1/23/2025 12:20:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employeeLeaveVM](
	[leaveVmId] [int] IDENTITY(1,1) NOT NULL,
	[calId] [int] NULL,
	[leaveId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[leaveVmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 1/23/2025 12:20:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[empId] [int] IDENTITY(1,1) NOT NULL,
	[empName] [nvarchar](512) NULL,
	[empEmail] [nvarchar](512) NULL,
	[empPassword] [nvarchar](512) NULL,
	[empNumber] [nvarchar](20) NULL,
	[empDateOfBirth] [datetime2](7) NULL,
	[empGender] [nvarchar](20) NULL,
	[empJobTitle] [nvarchar](256) NULL,
	[empExperience] [nvarchar](256) NULL,
	[empDateofJoining] [datetime2](7) NULL,
	[empAddress] [nvarchar](max) NULL,
	[isDelete] [bit] NULL,
	[ImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[empId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employeesleave]    Script Date: 1/23/2025 12:20:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employeesleave](
	[leaveId] [int] IDENTITY(1,1) NOT NULL,
	[LeaveFor] [nvarchar](max) NULL,
	[startDate] [datetime2](7) NULL,
	[endDate] [datetime2](7) NULL,
	[empId] [int] NULL,
	[isDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[leaveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 1/23/2025 12:20:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[rid] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Calendar] ON 

INSERT [dbo].[Calendar] ([CalId], [Subject], [Description], [StartDate], [EndDate]) VALUES (4, N'callings', N'birthday', CAST(N'2025-01-03T04:00:00.000' AS DateTime), CAST(N'2025-01-03T04:00:00.000' AS DateTime))
INSERT [dbo].[Calendar] ([CalId], [Subject], [Description], [StartDate], [EndDate]) VALUES (9, N'callings', N'birthday', CAST(N'2025-01-17T16:01:00.000' AS DateTime), CAST(N'2025-01-19T02:02:00.000' AS DateTime))
INSERT [dbo].[Calendar] ([CalId], [Subject], [Description], [StartDate], [EndDate]) VALUES (11, N'Company Holiday', N'birthday', CAST(N'2025-02-06T18:14:00.000' AS DateTime), CAST(N'2025-02-06T19:15:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Calendar] OFF
SET IDENTITY_INSERT [dbo].[candidateDetails] ON 

GO
SET IDENTITY_INSERT [dbo].[candidateDetails] OFF
SET IDENTITY_INSERT [dbo].[employeeBirthdays] ON 

INSERT [dbo].[employeeBirthdays] ([ebId], [calId], [empId]) VALUES (2, 33, 16)
INSERT [dbo].[employeeBirthdays] ([ebId], [calId], [empId]) VALUES (3, 34, 17)
INSERT [dbo].[employeeBirthdays] ([ebId], [calId], [empId]) VALUES (4, 35, 18)
SET IDENTITY_INSERT [dbo].[employeeBirthdays] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([empId], [empName], [empEmail], [empPassword], [empNumber], [empDateOfBirth], [empGender], [empJobTitle], [empExperience], [empDateofJoining], [empAddress], [isDelete], [ImagePath]) VALUES (5, N'Deepak Saini1', N'deepaksysoft@gmail.com', N'Deepak@123', N'6378218538', CAST(N'2002-10-02T13:50:50.5170000' AS DateTime2), N'Male', N'Developer', N'6 Month', CAST(N'2024-08-12T13:50:50.5170000' AS DateTime2), N'jaipur', 0, N'https://localhost:44319/uploads/images/employee/c0b664df_20250121094154_f7c57f88_2.jfif')
INSERT [dbo].[Employees] ([empId], [empName], [empEmail], [empPassword], [empNumber], [empDateOfBirth], [empGender], [empJobTitle], [empExperience], [empDateofJoining], [empAddress], [isDelete], [ImagePath]) VALUES (6, N'Deepak Saini', N'deepaksysoft@gmail.com', N'Deepak@123', N'6378218538', CAST(N'2002-10-02T13:50:50.5170000' AS DateTime2), N'Male', N'Developer', N'6 Month', CAST(N'2024-08-12T13:50:50.5170000' AS DateTime2), N'jaipur', 0, NULL)
INSERT [dbo].[Employees] ([empId], [empName], [empEmail], [empPassword], [empNumber], [empDateOfBirth], [empGender], [empJobTitle], [empExperience], [empDateofJoining], [empAddress], [isDelete], [ImagePath]) VALUES (8, N'Kamal', N'Kamal@gmail.com', N'Deepak@123', N'5456456663', CAST(N'2025-01-07T00:00:00.0000000' AS DateTime2), N'Female', N'ASP .net core ', N'2 year', CAST(N'2025-01-09T00:00:00.0000000' AS DateTime2), N'rajasthan jaipur', 0, NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[employeesleave] ON 

INSERT [dbo].[employeesleave] ([leaveId], [LeaveFor], [startDate], [endDate], [empId], [isDelete]) VALUES (2, N'casual', CAST(N'2025-01-21T11:55:30.6930000' AS DateTime2), CAST(N'2025-01-21T11:55:30.6930000' AS DateTime2), 22, 0)
INSERT [dbo].[employeesleave] ([leaveId], [LeaveFor], [startDate], [endDate], [empId], [isDelete]) VALUES (3, N'dfg', CAST(N'2025-01-21T11:55:30.6930000' AS DateTime2), CAST(N'2025-01-21T11:55:30.6930000' AS DateTime2), 22, 0)
INSERT [dbo].[employeesleave] ([leaveId], [LeaveFor], [startDate], [endDate], [empId], [isDelete]) VALUES (4, N'casual', CAST(N'2025-01-21T11:55:30.6930000' AS DateTime2), CAST(N'2025-01-21T11:55:30.6930000' AS DateTime2), 22, 0)
SET IDENTITY_INSERT [dbo].[employeesleave] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([rid], [Role]) VALUES (1, N'Dot Net Developer')
INSERT [dbo].[Roles] ([rid], [Role]) VALUES (2, N'QA ')
INSERT [dbo].[Roles] ([rid], [Role]) VALUES (3, N'BDE ')
SET IDENTITY_INSERT [dbo].[Roles] OFF
ALTER TABLE [dbo].[candidateDetails]  WITH CHECK ADD FOREIGN KEY([Roles])
REFERENCES [dbo].[Roles] ([rid])
GO
ALTER TABLE [dbo].[employeeBirthdays]  WITH CHECK ADD  CONSTRAINT [FK__employeeB__calId__4F47C5E3] FOREIGN KEY([calId])
REFERENCES [dbo].[Calendar] ([CalId])
GO
ALTER TABLE [dbo].[employeeBirthdays] CHECK CONSTRAINT [FK__employeeB__calId__4F47C5E3]
GO
ALTER TABLE [dbo].[employeeBirthdays]  WITH CHECK ADD  CONSTRAINT [FK__employeeB__empId__503BEA1C] FOREIGN KEY([empId])
REFERENCES [dbo].[Employees] ([empId])
GO
ALTER TABLE [dbo].[employeeBirthdays] CHECK CONSTRAINT [FK__employeeB__empId__503BEA1C]
GO
ALTER TABLE [dbo].[employeeLeaveVM]  WITH CHECK ADD FOREIGN KEY([calId])
REFERENCES [dbo].[Calendar] ([CalId])
GO
ALTER TABLE [dbo].[employeeLeaveVM]  WITH CHECK ADD FOREIGN KEY([leaveId])
REFERENCES [dbo].[employeesleave] ([leaveId])
GO
ALTER TABLE [dbo].[employeesleave]  WITH CHECK ADD  CONSTRAINT [FK__employees__empId__625A9A57] FOREIGN KEY([empId])
REFERENCES [dbo].[Employees] ([empId])
GO
ALTER TABLE [dbo].[employeesleave] CHECK CONSTRAINT [FK__employees__empId__625A9A57]
GO
/****** Object:  StoredProcedure [dbo].[GetCandidatesWithPaging]    Script Date: 1/23/2025 12:20:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCandidatesWithPaging]
    @Page INT,
    @PageSize INT,
    @SearchTerm NVARCHAR(255),
    @SortColumn NVARCHAR(50),
    @SortDirection NVARCHAR(4),
    @TotalRecords INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SQLQuery NVARCHAR(MAX);
    DECLARE @Offset INT;
    DECLARE @SearchTermPattern NVARCHAR(255);

    -- Calculate OFFSET
    SET @Offset = (@Page - 1) * @PageSize;

    -- Define the search pattern
    SET @SearchTermPattern = '%' + @SearchTerm + '%';

    -- Get the total record count separately
    DECLARE @CountQuery NVARCHAR(MAX);
    SET @CountQuery = '
        SELECT @TotalRecordsOut = COUNT(*) 
        FROM candidateDetails 
        WHERE isDelete = 0';

    IF (@SearchTerm IS NOT NULL AND @SearchTerm != '')
    BEGIN
        SET @CountQuery = @CountQuery + '
            AND (
                Schedule_Interview_status LIKE @SearchTermPattern OR
                Comments LIKE @SearchTermPattern OR
                Name LIKE @SearchTermPattern OR
                Contact_No LIKE @SearchTermPattern OR
                Linkedin_Profile LIKE @SearchTermPattern OR
                Email_ID LIKE @SearchTermPattern OR
                Roles LIKE @SearchTermPattern OR
                Experience LIKE @SearchTermPattern OR
                Skills LIKE @SearchTermPattern OR
                CTC LIKE @SearchTermPattern OR
                ETC LIKE @SearchTermPattern
            )';
    END

    -- Execute the count query
    EXEC sp_executesql @CountQuery,
        N'@SearchTermPattern NVARCHAR(255), @TotalRecordsOut INT OUTPUT',
        @SearchTermPattern = @SearchTermPattern,
        @TotalRecordsOut = @TotalRecords OUTPUT;

    -- Build the main query for data retrieval
    SET @SQLQuery = '
        SELECT * 
        FROM candidateDetails 
        WHERE isDelete = 0';

    -- Add search condition
    IF (@SearchTerm IS NOT NULL AND @SearchTerm != '')
    BEGIN
        SET @SQLQuery = @SQLQuery + '
            AND (
                Schedule_Interview_status LIKE @SearchTermPattern OR
                Comments LIKE @SearchTermPattern OR
                Name LIKE @SearchTermPattern OR
                Contact_No LIKE @SearchTermPattern OR
                Linkedin_Profile LIKE @SearchTermPattern OR
                Email_ID LIKE @SearchTermPattern OR
                Roles LIKE @SearchTermPattern OR
                Experience LIKE @SearchTermPattern OR
                Skills LIKE @SearchTermPattern OR
                CTC LIKE @SearchTermPattern OR
                ETC LIKE @SearchTermPattern
            )';
    END

    -- Add sorting condition
    IF (@SortColumn IN ('Name', 'Email_ID', 'Date', 'Roles', 'CTC', 'ETC', 'Experience', 'Skills', 'Notice_Period', 'Linkedin_Profile', 'Schedule_Interview_status', 'Contact_No'))
    BEGIN
        SET @SQLQuery = @SQLQuery + ' ORDER BY ' + QUOTENAME(@SortColumn) + ' ' + @SortDirection;
    END
    ELSE
    BEGIN
        SET @SQLQuery = @SQLQuery + ' ORDER BY id ASC'; -- Default sorting
    END

    -- Add pagination
    SET @SQLQuery = @SQLQuery + '
        OFFSET @Offset ROWS 
        FETCH NEXT @PageSize ROWS ONLY';

    -- Execute the main query
    EXEC sp_executesql @SQLQuery,
        N'@SearchTermPattern NVARCHAR(255), @Offset INT, @PageSize INT',
        @SearchTermPattern = @SearchTermPattern,
        @Offset = @Offset,
        @PageSize = @PageSize;

    PRINT @SQLQuery;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllcandidate]    Script Date: 1/23/2025 12:20:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetAllcandidate]
(
    @PageNumber INT, -- Page number for pagination
    @PageSize INT, -- Number of records per page
    @SortColumn VARCHAR(30), -- Sort Column Name
    @SortOrder VARCHAR(4), -- Sort Direction (ASC/DESC)
    @SearchField VARCHAR(255) = NULL, -- Field to search by (e.g., column name)
    @SearchValue VARCHAR(MAX) = NULL, -- Value to search for
    @TotalRecords INT OUTPUT -- Total records output parameter
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Default sort column and order if not provided
    IF @SortColumn IS NULL OR @SortColumn = ''
        SET @SortColumn = 'id';

    IF @SortOrder IS NULL OR @SortOrder = ''
        SET @SortOrder = 'ASC';

    DECLARE @OrderBy NVARCHAR(MAX);
    SET @OrderBy = QUOTENAME(@SortColumn) + ' ' + @SortOrder;

    -- Calculate pagination bounds
    DECLARE @FirstRow INT, @LastRow INT;
    SET @FirstRow = ((@PageNumber - 1) * @PageSize) + 1;
    SET @LastRow = @PageNumber * @PageSize;

    -- Dynamic SQL to handle optional search field and value
    DECLARE @SQL NVARCHAR(MAX);
    SET @SQL = '
        SELECT *
        FROM (
            SELECT
                ROW_NUMBER() OVER (ORDER BY ' + @OrderBy + ') AS RowNum,
                id,
                Date,
                Name,
                Contact_No,
                Linkedin_Profile,
                Email_ID,
                Roles,
                Experience,
                Skills,
                CTC,
                ETC,
                Notice_Period,
                Current_Location,
                Prefer_Location,
                Reason_For_Job_Change,
                Schedule_Interview,
                Schedule_Interview_status,
                Comments,
                cvPath,
                isDelete
            FROM candidateDetails WITH (NOLOCK)
            WHERE isDelete = 0
        ';

    -- Add WHERE clause only if search field and value are provided
    IF @SearchField IS NOT NULL AND @SearchField <> '' AND @SearchValue IS NOT NULL AND @SearchValue <> ''
        SET @SQL = @SQL + ' AND ' + QUOTENAME(@SearchField) + ' LIKE ''%' + @SearchValue + '%''';

    -- Append pagination and total record count
    SET @SQL = @SQL + '
        ) AS CandidateData
        WHERE RowNum BETWEEN ' + CAST(@FirstRow AS NVARCHAR) + ' AND ' + CAST(@LastRow AS NVARCHAR) + ';';

    -- Calculate the total records count
    DECLARE @CountSQL NVARCHAR(MAX);
    SET @CountSQL = '
        SELECT @TotalRecordsOutput = COUNT(*)
        FROM candidateDetails WITH (NOLOCK)
        WHERE isDelete = 0
    ';

    -- Add search condition to total count query if applicable
    IF @SearchField IS NOT NULL AND @SearchField <> '' AND @SearchValue IS NOT NULL AND @SearchValue <> ''
        SET @CountSQL = @CountSQL + ' AND ' + QUOTENAME(@SearchField) + ' LIKE ''%' + @SearchValue + '%''';

    -- Execute the count query
    EXEC sp_executesql @CountSQL, N'@TotalRecordsOutput INT OUTPUT', @TotalRecordsOutput = @TotalRecords OUTPUT;

    -- Execute the paginated query
    EXEC sp_executesql @SQL;

    SET NOCOUNT OFF;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllEmployeeLeave]    Script Date: 1/23/2025 12:20:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetAllEmployeeLeave]
(
    @empID INT,
    @PageNumber INT, -- Page number for pagination
    @TotalRecords INT OUTPUT -- Total records output parameter
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Calculate pagination bounds
    DECLARE @FirstRow INT, @LastRow INT;
    SET @FirstRow = ((@PageNumber - 1) * 10) + 1;
    SET @LastRow = @PageNumber *10;

    -- Calculate the total records count
    DECLARE @CountSQL NVARCHAR(MAX);
    SET @CountSQL = '
        SELECT @TotalRecordsOutput = COUNT(*)
        FROM EmployeesLeave WITH (NOLOCK)
        WHERE IsDelete = 0 AND EmpId = @empID;
    ';

    -- Execute the count query
    EXEC sp_executesql @CountSQL,
        N'@empID INT, @TotalRecordsOutput INT OUTPUT',
        @empID = @empID, @TotalRecordsOutput = @TotalRecords OUTPUT;

    -- Build the paginated query as a string
    DECLARE @SQL NVARCHAR(MAX);
    SET @SQL = '
        SELECT *
        FROM ( 
            SELECT
                ROW_NUMBER() OVER (ORDER BY LeaveId DESC) AS RowNum,
                LeaveId,
                LeaveFor,
                StartDate,
                EndDate,
                EmpId,
                IsDelete
            FROM EmployeesLeave WITH (NOLOCK)
            WHERE IsDelete = 0 AND EmpId = @empID
        ) AS CandidateData
        WHERE RowNum BETWEEN @FirstRow AND @LastRow;
    ';

    -- Print the query for debugging (optional)
    PRINT @SQL;

    -- Execute the paginated query
    EXEC sp_executesql @SQL,
        N'@empID INT, @FirstRow INT, @LastRow INT',
        @empID = @empID, @FirstRow = @FirstRow, @LastRow = @LastRow;

    SET NOCOUNT OFF;
END;
GO
