li button i, .assets-icon {
   animation: bounce 1.5s infinite alternate;
}

@keyframes bounce {
   0% {
      transform: translateY(3px);
   }
   100% {
      transform: translateY(-3px);
   }
}

.profile-Details :hover {
   transform: scale(1.02);
   color: black;
   font-weight: 900;
   background-color: antiquewhite;
   cursor: pointer;
}

.image-container {
   display: inline-block;
   position: relative;
   cursor: pointer;
}

.profile-photo {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   object-fit: cover;
   border: 2px solid #ccc;
}

td i {
   font-size: larger;
}
