.card-width {
   padding: 4%;
   width: 25%;
   height: 50%;
   box-shadow: 0 5px 20px 10px #349feb;
}
.bg {
   background: linear-gradient(135deg, #e1f5ff 20%, #198adb 100%);
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.927);
   color: #333333;
}

.ysoft-logo {
   position: absolute;
   top: -33px;
   left: 34%;
   background-color: white;
   width: 35%;
   border-radius: 15px;
   border: 1px solid rgb(222, 211, 211);
}
