li {
   font-weight: 700;
   font-size: larger;
}

/* Navbar Background with Gradient */
.navbar {
   background: linear-gradient(90deg, #73d0ff 5%, #006fb4 50%, #0095ff 100%);
   color: #ffffff;
   padding: 10px 20px;
}

/* Navbar Brand (Logo or Title) */
.navbar-brand {
   color: #ffffff;
   font-size: 22px;
   font-weight: bold;
}
/* Navbar Links (Default) */
.navbar-nav .nav-item .nav-link {
   color: #ffffff; /* White text for high contrast */
   margin-right: 15px;
   font-size: 20px;
   font-weight: 500;
   transition:
      color 0.3s ease-in-out,
      transform 0.2s ease-in-out;
}

/* 🔥 Hover Effect (Lighter Blue) */
.navbar-nav .nav-item .nav-link:hover {
   color: #7e7a60; /* Bright Gold for visibility */
   text-decoration: none;
   transform: scale(1.05);
}

/* ✅ Active Link (Electric Blue) */
.navbar-nav .nav-item .nav-link.active {
   color: #0d5e76; /* Electric Blue */
   font-weight: bold;
   border-bottom: 3px solid #ffc184;
}

/* Responsive Navbar Toggler */
.navbar-toggler {
   border: none;
   background-color: transparent;
}

.navbar-toggler-icon {
   filter: brightness(0) invert(1);
}

/* Mobile Responsive */
@media (max-width: 768px) {
   .navbar-nav {
      background: linear-gradient(180deg, #005f99, #2095d1);
      padding: 10px;
      border-radius: 5px;
   }

   .navbar-nav .nav-item {
      text-align: center;
      margin-bottom: 10px;
   }
}

.text-primary:hover {
   cursor: pointer;
   box-shadow:
      0 0 6px rgba(0, 255, 255, 0.5),
      0 0 12px rgba(0, 255, 255, 0.3);
}

.page-container {
   display: flex;
   flex-direction: column;
   min-height: calc(100vh - 81px); /* Ensures the container takes full height of the viewport */
   max-height: calc(100vh - 81px);
   overflow-y: hidden;
   overflow-x: hidden;
}

main.main {
   flex: 1; /* Pushes the footer to the bottom when content is small */
   max-height: 88%;
   overflow-y: auto;
   overflow-x: auto;
   background: linear-gradient(180deg, #fff9f9 0%, #d1e2ee 50%, #fcf4f4 100%);
   color: #333333;
}

footer.footer {
   background: linear-gradient(180deg, #74bce9 0%, #0f78bf 50%, #5595de 100%);
   color: #ffffff;

   text-align: center;
   padding: 10px 0;
   position: relative;
   width: 100%;
}

.all-rights {
   margin: 0;
   font-size: 14px;
   font-weight: 400; /* Adjust weight as needed */
   width: 100%; /* Ensures it spans the full width */
   display: block; /* Ensures it behaves as a full-width block */
}

.emp-dot {
   left: 98%;
   bottom: 45%;
}

/* Hover effect for background */
.dropdown-item:hover {
   background-color: #c6e3ff;
}

.text-danger:hover {
   background-color: #f8d7da;
}

.dropdown-menu {
   background-color: #ffffff;
   border-radius: 10px;
}

.dropdown-divider {
   border-color: #e0e0e0;
}
