li {
   font-weight: 700;
   font-size: larger;
}

.li {
   font-weight: 400;
}

/* navbar-style.css */

.navbar {
   background-color: #f8f9fa;
   padding: 10px 0;
}

.navbar-brand img {
   width: 100px;
   height: auto;
}

.navbar-nav .nav-item .nav-link {
   color: #343a40;
   margin-right: 15px;
   font-size: 16px;
}

.navbar-nav .nav-item .nav-link:hover {
   color: #007bff;
   text-decoration: none;
}

.navbar-nav .nav-item .nav-link.active {
   color: #007bff;
   font-weight: bold;
}

.text-primary:hover {
   cursor: pointer;
   box-shadow:
      0 0 6px rgba(0, 255, 255, 0.5),
      0 0 12px rgba(0, 255, 255, 0.3);
}

.notifications {
   max-height: 500px;
   overflow-y: auto;
   overflow-x: auto;
}

.list-bg {
   background-color: #7ea2c5;
}
