li {
   font-weight: 700;
   font-size: larger;
}

.li {
   font-weight: 400;
}

/* navbar-style.css */

.navbar {
   background-color: #f8f9fa;
   padding: 10px 0;
}

.navbar-brand img {
   width: 100px;
   height: auto;
}

.navbar-nav .nav-item .nav-link {
   color: #343a40;
   margin-right: 15px;
   font-size: 16px;
}

.navbar-nav .nav-item .nav-link:hover {
   color: #007bff;
   text-decoration: none;
}

.navbar-nav .nav-item .nav-link.active {
   color: #007bff;
   font-weight: bold;
}

.text-primary:hover {
   cursor: pointer;
   box-shadow:
      0 0 6px rgba(0, 255, 255, 0.5),
      0 0 12px rgba(0, 255, 255, 0.3);
}

.page-container {
   display: flex;
   flex-direction: column;
   min-height: calc(100vh - 85px); /* Ensures the container takes full height of the viewport */
   max-height: calc(100vh - 82px);
   overflow-y: hidden;
   overflow-x: hidden;
}

main.main {
   flex: 1; /* Pushes the footer to the bottom when content is small */
   max-height: 88%;
   overflow-y: auto;
   overflow-x: auto;
}

footer.footer {
   background: #f8f9fa;
   text-align: center;
   padding: 10px 0;
   position: relative;
   width: 100%;
}
.all-rights {
   margin: 0;
   font-size: 14px;
   font-weight: 400; /* Adjust weight as needed */
   color: #6c757d; /* Optional: Muted text color */
   width: 100%; /* Ensures it spans the full width */
   display: block; /* Ensures it behaves as a full-width block */
}

.emp-dot {
   left: 95%;
   bottom: 45%;
}


  /* Hover effect for background */
  .dropdown-item:hover {
   background-color: #f1f5f9;
 }

 .text-danger:hover {
   background-color: #f8d7da;
 }
 
 .dropdown-menu {
   background-color: #ffffff;
   border-radius: 10px;
 }

 .dropdown-divider {
   border-color: #e0e0e0;
 }