<div class="row m-4">
  <div class="col-12 col-md-6 mb-4">
    <div class="card">
      <div class="card-body magical-table-container">
        <h4 class="card-title">
          <b><u> Today Interview</u></b>
        </h4>
        <table class="table table-sm magical-table">
          <thead>
            <tr class="row">
              <th class="col ellipsis-cell">Name</th>
              <th class="col ellipsis-cell">Contact No.</th>
              <th class="col ellipsis-cell">Email</th>
              <th class="col ellipsis-cell">Role</th>
              <th class="col ellipsis-cell">Experience</th>
              <th class="col-3">Interview Date</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let candidate of todayData"
              (click)="CanidtateDetals(candidate)"
              class="row"
            >
              <td class="col ellipsis-cell ms-3">{{ candidate.name }}</td>
              <td class="col ellipsis-cell">{{ candidate.contact_No }}</td>
              <td
                class="col ellipsis-cell"
                [matTooltip]="candidate.email_ID"
                matTooltipPosition="above"
                [matTooltipClass]="'custom-tooltip'"
              >
                {{ candidate.email_ID }}
              </td>
              <td class="col ellipsis-cell">{{ candidate.roles }}</td>
              <td class="col ellipsis-cell">{{ candidate.experience }}</td>
              <td class="col-3">
                {{ candidate.schedule_Interview | date : "medium" }}
              </td>
            </tr>
            <tr *ngIf="todayDataLength == 0" class="row p-5">
              <h1><b>Today No Interview</b></h1>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 mb-4">
    <div class="card">
      <div class="card-body magical-table-container">
        <h4 class="card-title">
          <b><u>This Week Interview</u></b>
        </h4>
        <table class="table table-sm magical-table">
          <thead>
            <tr class="row">
              <th class="col ellipsis-cell">Name</th>
              <th class="col ellipsis-cell">Contact No.</th>
              <th class="col ellipsis-cell">Email</th>
              <th class="col ellipsis-cell">Role</th>
              <th class="col ellipsis-cell">Experience</th>
              <th class="col-3 me-3">Interview Date</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let candidate of weekData"
              (click)="CanidtateDetals(candidate)"
              class="row"
            >
              <td class="col ellipsis-cell ms-3">{{ candidate.name }}</td>
              <td class="col ellipsis-cell">{{ candidate.contact_No }}</td>
              <td
                class="col ellipsis-cell"
                [matTooltip]="candidate.email_ID"
                matTooltipPosition="above"
                [matTooltipClass]="'custom-tooltip'"
              >
                {{ candidate.email_ID }}
              </td>
              <td class="col ellipsis-cell">{{ candidate.roles }}</td>
              <td class="col ellipsis-cell">{{ candidate.experience }}</td>
              <td class="col-3">
                {{ candidate.schedule_Interview | date : "medium" }}
              </td>
            </tr>
            <tr *ngIf="weekDataLength == 0" class="row p-5">
              <h1><b>This Week No Interview</b></h1>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div
  class="card container p-0 mt-5 mb-3 shadow-lg border-0"
  *ngIf="showCandidate"
>
  <div class="card-header bg-color text-white text-center">
    <h4 class="mb-0">
      <b><i class="fas fa-user"></i> Candidate Details</b>
    </h4>
  </div>
  <div class="card-body">
    <div class="container-fluid mt-4">
      <div class="row mb-3">
        <div class="col-md-6">
          <strong class="text-secondary me-2"
            ><i class="fas fa-calendar-alt"></i> Date:</strong
          >
          <span class="fw-bold all-badge">{{ candidate.date }}</span>
        </div>
        <div class="col-md-6">
          <strong class="text-secondary me-2"
            ><i class="fas fa-user"></i> Name:</strong
          >
          <span class="fw-bold all-badge">{{ candidate.name }}</span>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <strong class="text-secondary me-2"
            ><i class="fas fa-phone"></i> Contact No:</strong
          >
          <span class="fw-bold all-badge text-primary">{{
            candidate.contact_No
          }}</span>
        </div>
        <div class="col-md-6">
          <strong class="text-secondary me-2"
            ><i class="fab fa-linkedin"></i> LinkedIn:</strong
          >
          <a
            *ngIf="candidate.linkedin_Profile != null"
            [href]="prepareLinkedInUrl(candidate.linkedin_Profile)"
            target="_blank"
            class="btn btn-outline-primary btn-sm"
          >
            View Profile <i class="fas fa-external-link-alt"></i>
          </a>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <strong class="text-secondary me-2"
            ><i class="fas fa-envelope"></i> Email:</strong
          >
          <span class="fw-bold all-badge text-danger">{{
            candidate.email_ID
          }}</span>
        </div>
        <div class="col-md-6">
          <strong class="text-secondary me-2"
            ><i class="fas fa-briefcase"></i> Role:</strong
          >
          <span class="badge bg-success">{{ candidate.roles }}</span>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <strong class="text-secondary me-2"
            ><i class="fas fa-clock"></i> Experience:</strong
          >
          <span class="fw-bold all-badge"
            >{{ candidate.experience }} years</span
          >
        </div>
        <div class="col-md-6">
          <strong class="text-secondary me-2"
            ><i class="fas fa-tools"></i> Skills:</strong
          >
          <span class="fw-bold text-dark all-badge">
            {{ candidate.skills }}
          </span>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <strong class="text-secondary me-2"
            ><i class="fas fa-money-bill-wave"></i> CTC:</strong
          >
          <span class="fw-bold all-badge text-success">{{
            candidate.ctc
          }}</span>
        </div>
        <div class="col-md-6">
          <strong class="text-secondary me-2"
            ><i class="fas fa-money-bill-wave"></i> ETC:</strong
          >
          <span class="fw-bold all-badge text-success">{{
            candidate.etc
          }}</span>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <strong class="text-secondary me-2"
            ><i class="fa fa-question-circle"></i> Reason For Job
            Change:</strong
          >
          <span class="fw-bold all-badge">{{
            candidate.reason_For_Job_Change
          }}</span>
        </div>
        <div class="col-md-6">
          <strong class="text-secondary me-2"
            ><i class="fas fa-clock"></i> Notice Period:</strong
          >
          <span class="fw-bold all-badge">{{ candidate.notice_Period }}</span>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <strong class="text-secondary me-2"
            ><i class="fas fa-map-marker-alt"></i> Current Location:</strong
          >
          <span class="fw-bold all-badge">{{
            candidate.current_Location
          }}</span>
        </div>
        <div class="col-md-6">
          <strong class="text-secondary me-2"
            ><i class="fas fa-map-marked-alt"></i> Preferred Location:</strong
          >
          <span class="fw-bold all-badge">{{ candidate.prefer_Location }}</span>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <strong class="text-secondary me-2"
            ><i class="fas fa-calendar-check"></i> Schedule Interview:</strong
          >
          <span class="fw-bold all-badge">{{
            candidate.schedule_Interview | date : "medium"
          }}</span>
        </div>
        <div class="col-md-6">
          <strong class="text-secondary me-2"
            ><i class="fas fa-tasks"></i> Interview Status:</strong
          >
          <span
            class="fw-bold"
            [ngClass]="{
              'text-success':
                candidate.schedule_Interview_status === 'Excellent',
              'text-danger': candidate.schedule_Interview_status === 'Not Good',
              'text-warning': candidate.schedule_Interview_status === 'Good '
            }"
          >
            {{ candidate.schedule_Interview_status }}
          </span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <strong class="text-secondary me-2"
            ><i class="fas fa-comments"></i> Comments:</strong
          >
          <p class="border rounded p-2 bg-light">
            {{ candidate.comments }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
