.card {
   box-shadow: 0 5px 5px rgb(149, 149, 149);
}

.card-body {
   background-color: rgb(248, 252, 255);
}

thead th {
   position: sticky;
   top: 0;
   z-index: 1; /* Ensure headers appear above the scrollable content */
}

tbody {
   display: block;
   max-height: 639px; /* Set the height of the scrollable area */
   min-height: 639px; /* Set the height of the scrollable area */
   overflow-y: auto; /* Add vertical scrolling */
   overflow-x: hidden;
}

tbody {
   -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
   scrollbar-width: none; /* Hide scrollbar for Firefox */
}

tbody {
   width: 100%;
   border-collapse: collapse;
}
.null-table1-size {
   padding: 292px 257px;
}
.null-table2-size {
   padding: 267px 216px;
}
.ellipsis-cell {
   max-width: 145px;
   overflow: hidden; /* Hides content that overflows */
   text-overflow: ellipsis; /* Adds ellipsis for overflow */
   white-space: nowrap; /* Prevents wrapping to the next line */
   display: inline-block; /* Keeps the element inline */
}

.bg-color {
   background: linear-gradient(90deg, #73d0ff 5%, #006fb4 50%, #0095ff 100%);
   color: #ffffff;
}
