<div class="container-fluid mt-3 magical-table-container">
  <div class="p-1">
    <div class="float-start mb-1">
      <h2><b>Ysoft Employees</b></h2>
    </div>
    <button
      class="btn btn-primary-color float-end pe-4 ps-4"
      *ngIf="!isRequestedEmp"
      (click)="GetRequestedEmployee()"
    >
      <b>
        <i class="fa-solid fa-user-plus me-2"></i>Requests
        <span class="emp-count" *ngIf="reqEmpCount != 0"> {{ reqEmpCount }}</span>
      </b>
    </button>
    <button
      class="btn btn-primary-color float-end pe-4 ps-4"
      *ngIf="isRequestedEmp"
      (click)="getEmployees()"
    >
      <b> <i class="fa-solid fa-rotate-left me-2"></i>Get Back </b>
    </button>
  </div>

  <table class="table magical-table ">
    <thead>
      <tr class="row">
        <th class="col ellipsis-cell">Profile</th>
        <th class="col ellipsis-cell">Name</th>
        <th class="col ellipsis-cell">Email</th>
        <th class="col ellipsis-cell">Phone</th>
        <th class="col ellipsis-cell">Date of Birth</th>
        <th class="col ellipsis-cell">Gender</th>
        <th class="col ellipsis-cell">Job Title</th>
        <th class="col ellipsis-cell">Experience</th>
        <th class="col ellipsis-cell">Date of Joining</th>
        <th class="col ellipsis-cell">Address</th>
        <th class="col ellipsis-cell">Actions</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr class="row  " *ngFor="let emp of employeeList">
        <td (click)="employeeDetails(emp)" class="col ellipsis-cell">
          <img
            *ngIf="emp?.imagePath != null"
            [src]="empImage + emp?.imagePath"
            class="rounded-circle"
            alt="Emp image"
          />
          <img
            *ngIf="emp?.imagePath == null"
            class="rounded-circle"
            src="assets/Image/Default.jpg"
            alt="Emp image"
          />

          <span
            *ngIf="hasLeave(emp.empId)"
            class="badge   rounded-circle position-absolute emp-dot translate-middle"
            style="width: 8px; height: 8px; padding: 0"
            >.</span
          >
        </td>
        <td (click)="employeeDetails(emp)" class="col ellipsis-cell">
          {{ emp.empName }}
        </td>
        <td
          (click)="employeeDetails(emp)"
          class="col ellipsis-cell"
          [matTooltip]="emp.empEmail"
          matTooltipPosition="above"
          [matTooltipClass]="'custom-tooltip'"
        >
          {{ emp.empEmail }}
        </td>
        <td (click)="employeeDetails(emp)" class="col ellipsis-cell">
          {{ emp.empNumber }}
        </td>
        <td (click)="employeeDetails(emp)" class="col ellipsis-cell">
          {{ emp.empDateOfBirth | date : "longDate" }}
        </td>
        <td (click)="employeeDetails(emp)" class="col ellipsis-cell">
          {{ emp.empGender }}
        </td>
        <td (click)="employeeDetails(emp)" class="col ellipsis-cell">
          {{ emp.empJobTitle }}
        </td>

        <td (click)="employeeDetails(emp)" class="col ellipsis-cell">
          {{ emp.empExperience }}
        </td>
        <td (click)="employeeDetails(emp)" class="col ellipsis-cell">
          {{ emp.empDateofJoining | date : "longDate" }}
        </td>
        <td
          (click)="employeeDetails(emp)"
          class="col ellipsis-cell ett"
          [matTooltip]="emp.empAddress"
          matTooltipPosition="above"
          [matTooltipClass]="'custom-tooltip'"
        >
          {{ emp.empAddress }}
        </td>
        <td class="col ellipsis-cell">
          <i
            [ngClass]="
              !isRequestedEmp
                ? 'fas fa-edit text-primary me-2 cursorPointer'
                : 'fa-solid fa-thumbs-up text-primary me-2 cursorPointer'
            "
            (click)="editEmployee(emp)"
          ></i>

          <i
            class="fa fa-trash text-danger cursorPointer"
            (click)="DeleteEmployee(emp.empId)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #employeeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ EmployeeModelHeader }}
    </h4>
    <button
      type="button"
      class="btn btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form class="p-3" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="empId" />
      <input type="hidden" formControlName="empPassword" />
      <input type="hidden" formControlName="empPasswordConfirm" />
      <div class="row mb-2">
        <div class="col-12 d-flex justify-content-center">
          <input
            type="file"
            #fileInput
            (change)="onFileChange($event)"
            formControlName="photo"
            class="d-none"
            accept="image/*"
          />

          <!-- Default or selected image -->
          <div class="image-container">
            <img
              [src]="selectedImage || defaultImage"
              alt="Profile Photo"
              class="profile-photo"
              (click)="fileInput.click()"
            />
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <label class="ms-2 label" for="empName">Name</label>
          <input
            id="empName"
            type="text"
            class="form-control magic-input"
            formControlName="empName"
          />
          <small
            class="text-danger"
            *ngIf="
              !employeeForm.get('empName')?.hasError('serverError') &&
              shouldShowError('empName') &&
              !employeeForm.controls['empName'].hasError('pattern')
            "
          >
            Name is required.
          </small>
          <small
            class="text-danger"
            *ngIf="employeeForm.get('empName')?.hasError('serverError')"
            >{{ employeeForm.get('empName')?.errors?.['serverError'] }}</small
          ><small
            class="text-danger"
            *ngIf="employeeForm.controls['empName'].hasError('pattern')"
          >
            Name must start with letters, followed by a surname (numbers
            allowed).
          </small>
        </div>

        <div class="col">
          <label class="ms-1 label" for="empEmail">Email</label>
          <input
            id="empEmail"
            type="email"
            class="form-control magic-input"
            formControlName="empEmail"
          />
          <small
            class="text-danger"
            *ngIf="
              !employeeForm.get('empEmail')?.hasError('serverError') &&
              shouldShowError('empEmail') &&
              !employeeForm.controls['empEmail'].hasError('pattern')
            "
          >
            Email is required.
          </small>
          <small
            class="text-danger"
            *ngIf="employeeForm.get('empEmail')?.hasError('serverError')"
            >{{ employeeForm.get('empEmail')?.errors?.['serverError'] }}</small
          >
          <small
            class="text-danger"
            *ngIf="employeeForm.controls['empEmail'].hasError('pattern')"
          >
            Email address not valid.
          </small>
        </div>
      </div>
      <div class="row mb-2" *ngIf="EmployeeModelHeader != 'Edit Employee'">
        <div class="col">
          <label class="form-label" for="empPassword">Password</label>
          <div class="input-group">
            <input
              [type]="show ? 'text' : 'password'"
              formControlName="empPassword"
              class="form-control magic-input"
            />
            <span
              class="input-group-text password-toggle magic-input"
              (click)="Show()"
            >
              <i [class]="show ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
            </span>
          </div>
          <small
            class="text-danger"
            *ngIf="employeeForm.get('empPassword')?.hasError('serverError')"
            >{{ employeeForm.get('empPassword')?.errors?.['serverError'] }}</small
          ><small
            *ngIf="
              shouldShowError('empPassword') &&
              !employeeForm.controls['empPassword'].hasError('pattern') &&
              !employeeForm.get('empPassword')?.hasError('serverError')
            "
            class="text-danger"
            >Please enter Password.</small
          >
          <small
            class="text-danger"
            *ngIf="employeeForm.controls['empPassword'].hasError('pattern')"
          >
            Password must be at least 8 characters long, with an uppercase,
            lowercase, number, and special character.
          </small>
        </div>
        <div class="col">
          <label class="form-label" for="empPasswordConfirm"
            >Confirm Password</label
          >
          <div class="input-group">
            <input
              [type]="showConPassword ? 'text' : 'password'"
              formControlName="empPasswordConfirm"
              class="form-control magic-input"
            />
            <span
              class="input-group-text password-toggle magic-input"
              (click)="ShowConPassword()"
            >
              <i
                [class]="showConPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
              ></i>
            </span>
          </div>
          <small
            *ngIf="
              employeeForm.get('empPasswordConfirm')?.hasError('serverError')
            "
            >{{ employeeForm.get('empPasswordConfirm')?.errors?.['serverError'] }}</small
          ><small
            *ngIf="employeeForm.errors?.['mismatch'] || submitted && shouldShowError('empPasswordConfirm')"
            class="text-danger"
          >
            Passwords do not match!</small
          >
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <label class="ms-1 label" for="empNumber">Phone Number</label>
          <input
            id="empNumber"
            type="text"
            class="form-control magic-input"
            formControlName="empNumber"
          />
          <small
            class="text-danger"
            *ngIf="
              !employeeForm.get('empNumber')?.hasError('serverError') &&
              shouldShowError('empNumber') &&
              !employeeForm.controls['empNumber'].hasError('pattern')
            "
          >
            Mobile Number is required.
          </small>
          <small
            class="text-danger"
            *ngIf="employeeForm.get('empNumber')?.hasError('serverError')"
            >{{ employeeForm.get('empNumber')?.errors?.['serverError'] }}</small
          >
          <small
            class="text-danger"
            *ngIf="employeeForm.controls['empNumber'].hasError('pattern')"
          >
            Mobile number not valid..
          </small>
        </div>

        <div class="col">
          <label class="ms-1 label" for="empDateOfBirth">Date of Birth</label>
          <input
            id="empDateOfBirth"
            type="date"
            class="form-control magic-input"
            formControlName="empDateOfBirth"
          />
          <small
            class="text-danger"
            *ngIf="
              !employeeForm.get('empDateOfBirth')?.hasError('serverError') &&
              shouldShowError('empDateOfBirth')
            "
          >
            Date of birth is required.
          </small>
          <small
            class="text-danger"
            *ngIf="employeeForm.get('empDateOfBirth')?.hasError('serverError')"
            >{{ employeeForm.get('empDateOfBirth')?.errors?.['serverError'] }}</small
          >
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <label class="ms-1 label" for="empGender">Gender</label>
          <select
            id="empGender"
            class="form-select magic-input"
            formControlName="empGender"
          >
            <option value="" disabled>Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
          <small
            class="text-danger"
            *ngIf="
              !employeeForm.get('empGender')?.hasError('serverError') &&
              shouldShowError('empGender')
            "
          >
            Gender is required.
          </small>
          <small
            class="text-danger"
            *ngIf="employeeForm.get('empGender')?.hasError('serverError')"
            >{{ employeeForm.get('empGender')?.errors?.['serverError'] }}</small
          >
        </div>

        <div class="col">
          <label class="ms-1 label" for="empJobTitle">Job Title</label>
          <input
            id="empJobTitle"
            type="text"
            class="form-control magic-input"
            formControlName="empJobTitle"
          />
          <small
            class="text-danger"
            *ngIf="
              !employeeForm.get('empJobTitle')?.hasError('serverError') &&
              shouldShowError('empJobTitle')
            "
          >
            Job Title is required.
          </small>
          <small
            class="text-danger"
            *ngIf="employeeForm.get('empJobTitle')?.hasError('serverError')"
            >{{ employeeForm.get('empJobTitle')?.errors?.['serverError'] }}</small
          >
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <label class="ms-1 label" for="empExperience">Experience</label>
          <input
            id="empExperience"
            type="text"
            class="form-control magic-input"
            formControlName="empExperience"
          />
          <small
            class="text-danger"
            *ngIf="
              !employeeForm.get('empExperience')?.hasError('serverError') &&
              shouldShowError('empExperience')
            "
          >
            Experience is required.
          </small>
          <small
            class="text-danger"
            *ngIf="employeeForm.get('empExperience')?.hasError('serverError')"
            >{{ employeeForm.get('empExperience')?.errors?.['serverError'] }}</small
          >
        </div>
        <div class="col" *ngIf="this.userRole == 'Admin'">
          <label class="ms-1 label">Role</label>
          <select
            id="empGender"
            class="form-select magic-input"
            formControlName="roleId"
          >
            <option value="" disabled>Select Role</option>
            <option value="3">Employee</option>
            <option value="2">HR</option>
          </select>
        </div>
        <div class="col">
          <label class="ms-1 label" for="empDateofJoining"
            >Date of Joining</label
          >
          <input
            id="empDateofJoining"
            type="date"
            class="form-control magic-input"
            formControlName="empDateofJoining"
          />
          <small
            class="text-danger"
            *ngIf="
              !employeeForm.get('empDateofJoining')?.hasError('serverError') &&
              shouldShowError('empDateofJoining')
            "
          >
            Date of Joining is required.
          </small>
          <small
            class="text-danger"
            *ngIf="
              employeeForm.get('empDateofJoining')?.hasError('serverError')
            "
            >{{ employeeForm.get('empDateofJoining')?.errors?.['serverError'] }}</small
          >
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <label class="ms-1 label" for="empAddress">Address</label>
          <textarea
            id="empAddress"
            class="form-control magic-input"
            formControlName="empAddress"
          ></textarea>
          <small
            class="text-danger"
            *ngIf="
              !employeeForm.get('empAddress')?.hasError('serverError') &&
              shouldShowError('empAddress')
            "
          >
            Address is required.
          </small>
          <small
            class="text-danger"
            *ngIf="employeeForm.get('empAddress')?.hasError('serverError')"
            >{{ employeeForm.get('empAddress')?.errors?.['serverError'] }}</small
          >
        </div>
      </div>

      <hr class="hr" />
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary-color mt-4">
            <i class="fa-regular fa-thumbs-up me-1"></i>Submit
          </button>

          <button type="reset" class="btn btn-danger-color mt-4 ms-4 shadow-sm">
            <i class="fa-solid fa-arrows-rotate me-2"></i> Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
