/* You can add global styles to this file, and also import other style files */

html,
body {
   height: 100%;
   margin: 0;
   display: flex;
   flex-direction: column;
}

body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-tooltip-surface {
   background-color: #ffdcd4 !important;
   color: rgb(0, 0, 0) !important;
   font-size: 18px !important;
   z-index: 1000 !important; /* Ensure it appears above other elements */
   padding: 10px !important; /* Optional: Adjust padding */
   border-radius: 5px !important; /* Optional: Rounded corners */
}

.btn {
   border-radius: 25px !important;
   padding: 5px 20px;
   transition:
      box-shadow 0.3s ease,
      transform 0.3s ease;
}
.btn:hover {
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
   transform: translateY(-2px);
}

/* Magical Table Container */
.magical-table-container {
   text-align: center;
   font-family: "Arial", sans-serif;
   overflow: hidden;
}

/* Table Styling */
.magical-table {
   width: 100%;
   background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
   box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.2);
}

.magical-table thead tr th {
   border-bottom: none;
}

/* Header Styling */
.magical-table thead {
   background: linear-gradient(135deg, #e3cbfc 0%, #c1d8ff 100%);
   color: black;
   font-weight: bold;
}

/* Body Styling */
.magical-table tbody {
   background: #ffffff;
}
/* Rows */
.magical-table tbody tr {
   transition:
      transform 0.2s ease,
      background-color 0.3s ease;
}

/* Hover Effect */
.magical-table tbody tr:hover {
   transform: scale(1.01);
   color: black;
   cursor: pointer;
}

/* Magical input box */
/* General Input Field Style */
.magic-input {
   box-shadow:
      0 3px 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(255, 255, 255, 0.2);
   border-radius: 12px;
   color: rgb(0, 0, 0);
   font-size: 18px;
   padding: 8px 16px;
}

/* Glowing Effect on Focus */
.magic-input:focus {
   box-shadow:
      0 0 8px rgba(49, 155, 255, 0.7),
      0 0 20px rgba(49, 155, 255, 0.5);
   transform: scale(1.02);
}

/* Additional Hover Effect */
.magic-input:hover {
   cursor: pointer;
   box-shadow:
      0 0 6px rgba(0, 255, 255, 0.5),
      0 0 12px rgba(0, 255, 255, 0.3);
}

.magic-inputFile[type="file"]::file-selector-button {
   border: 2px solid #95edeb;
   padding: 0.2em 0.4em;
   border-radius: 0.6em;
   background-color: #cbfffe;
}

.magic-inputFile[type="file"]::file-selector-button:hover {
   background-color: rgba(49, 155, 255, 0.7);
   border: 2px solid rgba(10, 76, 139, 0.7);
}

/* Header Styling */
.magical-header {
   background: linear-gradient(135deg, #e3cbfc 0%, #c1d8ff 100%);
}

a {
   cursor: pointer;
}
.cursorPointer {
   cursor: pointer;
}

/* Hide the cursor globally */
* {
   caret-color: transparent;
}

/* Show cursor only inside input fields */
input,
textarea {
   caret-color: auto;
}
