/* You can add global styles to this file, and also import other style files */

html,
body {
   height: 100%;
   margin: 0;
   display: flex;
   flex-direction: column;
}

body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-tooltip-surface {
   background-color: #ffb2a0da !important;
   color: rgb(0, 0, 0) !important;
   font-size: 18px !important;
   z-index: 1000 !important; /* Ensure it appears above other elements */
   padding: 10px !important; /* Optional: Adjust padding */
   border-radius: 5px !important; /* Optional: Rounded corners */
}

.btn {
   border-radius: 12px !important;
   padding: 5px 15px;
}

.btn-primary-color {
   background-color: #14b1ff;
   color: white;
   border: 1px solid #0287c9;
}
.btn-primary-color:hover {
   color: white;
   opacity: 0.9;
   transform: scale(1.04);
   transition: all 0s ease-in-out;
}

.btn-info-color {
   background-color: #01cbea;
   color: white;
   border: 1px solid #009fb8;
}
.btn-info-color:hover {
   color: white;
   opacity: 0.9;
   transform: scale(1.04);
   transition: all 0s ease-in-out;
}

.btn-danger-color {
   background-color: #dc3545;
   border: 1px solid #920f1c;
   color: white;
}

.btn-danger-color:hover {
   color: white;
   opacity: 0.9;
   transform: scale(1.04);
   transition: all 0s ease-in-out;
}

.btn-color {
   background-color: hwb(189 9% 31%);
   color: white;
}

/* Magical Table Container */
.magical-table-container {
   text-align: center;
   font-family: "Arial", sans-serif;
   overflow: hidden;
}

/* Table Styling */
.magical-table {
   width: 100%;
   background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
   box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.2);
   border-top: 1px solid #b3c9f5;
}

.magical-table thead tr th {
   border-bottom: none;
}

/* Header Styling */
.magical-table thead {
   background: linear-gradient(90deg, #2095d1 0%, #005f99 50%, #67aad7 100%);
   color: #ffffff;
   font-weight: bold;
}

/* Body Styling */
.magical-table tbody {
   background: linear-gradient(180deg, #fef6f6 0%, #f5f5f5 50%, #d2e9f9 100%);
   color: #333333;
}
/* Rows */
.magical-table tbody tr {
   background: linear-gradient(90deg, #faeded 0%, #ffffff 50%, #def1fe 100%);
   color: #333333;
   transition:
      transform 0.2s ease,
      background-color 0.3s ease;
}

.modal-body {
   background: linear-gradient(90deg, #fff7f7 0%, #ffffff 50%, hsl(205, 100%, 96%) 100%);
}

/* Hover Effect */
.magical-table tbody tr:hover {
   transform: scale(1.01);
   color: black;
   cursor: pointer;
}

/* General Input Field Style */
.magic-input {
   box-shadow:
      0 3px 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(255, 255, 255, 0.2);
   border-radius: 12px;
   color: rgb(0, 0, 0);
   font-size: 18px;
   padding: 8px 16px;
   background-color: #e9f6ff;
}

/* Glowing Effect on Focus */
.magic-input:focus {
   box-shadow:
      0 0 8px rgb(0, 98, 255),
      0 0 20px rgb(49, 155, 255);
   transform: scale(1.02);
}

/* Additional Hover Effect */
.magic-input:hover {
   cursor: pointer;
   box-shadow:
      0 0 6px rgb(4, 69, 234),
      0 0 12px rgba(0, 255, 255, 0.727);
}

.magic-inputFile[type="file"]::file-selector-button {
   border: 2px solid #0095ff;
   padding: 0.2em 0.4em;
   border-radius: 0.6em;
   background-color: #9dd6ff;
}

.magic-inputFile[type="file"]::file-selector-button:hover {
   background-color: rgba(49, 155, 255, 0.7);
   border: 2px solid rgba(10, 76, 139, 0.7);
}

a {
   cursor: pointer;
}
.cursorPointer {
   cursor: pointer;
}

/* Hide the cursor globally */
* {
   caret-color: transparent;
}

/* Show cursor only inside input fields */
input,
textarea {
   caret-color: auto;
}
.shadow {
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.shadow-lg {
   box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.modal-header {
   background: linear-gradient(90deg, #73d0ff 5%, #006fb4 50%, #0095ff 100%);
   color: #ffffff;
}
