.card-width {
   width: 35%;
   box-shadow: 0 5px 20px 10px #349feb;
}
.bg {
   background: linear-gradient(135deg,rgb(255, 246, 246) 5%, #e1f5ff 30%, #60bdff 170%);
   color: #333333;
}

.card {
   box-shadow: 0 5px 20px 10px #65a9da;
   background: linear-gradient(135deg,rgb(255, 246, 246) 5%, #e1f5ff 30%, #a4d9ff 170%);
}