<div class="container-fluid bg">
  <section
    class="section min-vh-100 d-flex flex-column align-items-center justify-content-center"
  >
    <div class="card p-3 mb-3 border-0 card-width">
      <div class="card-body py-3">
        <div class="pb-4">
          <h5 class="card-title text-center pb-0 fs-4">Reset Password</h5>
          <p class="text-center small">
            Enter your Password & Confirm Password
          </p>
        </div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-lg-6 col-12">
              <label class="form-label ms-2" for="newPassword"
                >New Password</label
              >
              <div class="input-group">
                <input
                  [type]="showNewPass ? 'text' : 'password'"
                  formControlName="newPassword"
                  class="form-control magic-input"
                />
                <span
                  class="input-group-text password-toggle magic-input"
                  (click)="ShowNewPass()"
                >
                  <i
                    [class]="showNewPass ? 'fa fa-eye-slash' : 'fa fa-eye'"
                  ></i>
                </span>
              </div>
              <small
                class="text-danger"
                *ngIf="
                  resetPasswordForm.get('newPassword')?.hasError('serverError')
                "
                >{{ resetPasswordForm.get('newPassword')?.errors?.['serverError'] }}</small
              ><small
                *ngIf="
                  shouldShowChangePassError('newPassword') &&
                  !resetPasswordForm.controls['newPassword'].hasError(
                    'pattern'
                  ) &&
                  !resetPasswordForm.get('newPassword')?.hasError('serverError')
                "
                class="text-danger"
                >Please enter Password.</small
              >
              <small
                class="text-danger"
                *ngIf="
                  resetPasswordForm.controls['newPassword'].hasError('pattern')
                "
              >
                Password must be at least 8 characters long, with an uppercase,
                lowercase, number, and special character.
              </small>
            </div>
            <div class="col-lg-6 col-12">
              <label class="form-label ms-2" for="confirmPassword"
                >Confirm Password</label
              >
              <div class="input-group">
                <input
                  [type]="showConPassword ? 'text' : 'password'"
                  formControlName="confirmPassword"
                  class="form-control magic-input"
                />
                <span
                  class="input-group-text password-toggle magic-input"
                  (click)="ShowConPassword()"
                >
                  <i
                    [class]="showConPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
                  ></i>
                </span>
              </div>
              <small
                *ngIf="
                  resetPasswordForm
                    .get('confirmPassword')
                    ?.hasError('serverError')
                "
                >{{ resetPasswordForm.get('confirmPassword')?.errors?.['serverError'] }}</small
              ><small
                *ngIf="resetPasswordForm.errors?.['mismatch'] || submitted && shouldShowChangePassError('confirmPassword')"
                class="text-danger"
              >
                Passwords do not match!</small
              >
            </div>
          </div>

          <div class="row d-flex justify-content-center">
            <button type="submit" class="btn btn-primary-color m-4 w-50">
              <i class="fa-solid fa-thumbs-up ms-3"></i> Reset Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
